.login-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.carousel-image {
    height: 400px;
    border-radius: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #E91E63;
}


.index-card-column {
    height: 250px;
}

.index-img {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    width: 100%;

}

.previewImage {
    max-width: 200px;
    max-height: 300px;
}

.fade-out-message {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    color: red;
    font-weight: bold;
}

.fade-out-message.fade-out {
    opacity: 0;
}