<% layout ('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-2">
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="https://res.cloudinary.com/dr35pjw8f/image/upload/v1710702983/ElenisRecipeParadise/brooke-lark-W9OKrxBqiZA-unsplash_ishtms.jpg"
                    class="card-img-top login-img" alt="breakfast table">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>